@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200; 0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0, 400;0,700;0,900;1,100 ;1300;1400;1700;1900&display=swap');
body {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin: 0;
    background: #3d2524;
    padding: 1rem;


}
a{
    color: #ecca0c;
    text-decoration: none;
    transition: all .5s;
    display: block;
    transform-origin: 0 50%;
}
div img {
    max-width: 30vw;
    max-height: 20vh;
    transition: all .5s;
    transform-origin:0 50% ;
}
h1 {
    margin-top: 0;
}
p:last-child {
    margin-bottom: 0;

}
div img:hover {
    transform: scale(1.2);
}
@keyframes show {
    0% {
        opacity: 0;
        transform: rotateX(-45deg) translateY(-20px);
    }

    100%{
        opacity: 1;
        transform: rotateX(0deg) translateY(0px);
    }



}
div {
    animation: show 1s forwards;
    
}
a:hover {
    transform: translateX(10px);
}
a:active {
    transform: scale(.9) translateX(10px);
    font-size: 150%;
    color: rebeccapurple;

}